<div class="flame">
  <h2 class="heading">Comments</h2>
  <div class="show-card">
      <div id="comment_form">
        <%= render 'post_comments/form', post_image: @post_image, post_comment: @post_comment %>
      </div>
      <div id="comments_area">
        <%= render 'post_comments/comments', post_image: @post_image %>
      </div>
  </div>
</div>