<% visiter = notification.visiter %>
<% post_image = notification.post_image %>

<div>
  ★<%= notification_form(notification) %>
  <%= "(#{time_ago_in_words(notification.created_at)} 前)" %>
  <br>
  <% if !@comment.nil? %>
  <p>コメント：<%= @comment %></p>
  <% end %>
</div>