<div class="flame">
  <h2 class="heading">Notice</h2>
  <div class="show-card">
  <%= link_to user_destroy_all_path, method: :delete, class: "delete-btn" do %>全削除<% end %>

  <% if @notifications.exists? %>
    <div>
      <%= render @notifications %>
    </div>
  <% else %>
      <p>通知はありません</p>
  <% end %>

  </div>
</div>