<div class="flame">
  <h2 class="heading">Confirmation</h2>
    <div class="show-card">
　　　<h2 class="center">本当に退会しますか？</h2>
　　　<div></div>
      <p class="center">退会するとプロフィールや今までの投稿、<br>
       クローゼットの記録など、<br>
       全てデータが消えてしまいます。</p>


      <p class="center"><%= link_to user_path(current_user.id), class: "submit link" do %>続ける<% end %></p>
      <p class="center"><%= link_to user_path(current_user.id), method: :delete, "data-confirm" => "本当に退会しますか？", class: "withdraw link" do %>退会<% end %></p>
    </div>
</div>
