/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "../stylesheets/skippr";

/*リセットCSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

body {
  background-color: #fff7f0;
  width: 100%;
  font-family: '851マカポップ','Bodoni 72','Constantia','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','ヒラギノ角ゴシック','Hiragino Sans','Meiryo UI',sans-serif;

}

header {
  background-color: #d9d9f3;
  // background: linear-gradient(#ffb6c1, #fff7f0);
  width: 100%;

}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 250px;
}

footer {
  width: 100%;
  height: 60px;
  color: #444a5b;
  text-align: center;
}

ul {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  list-style: none;
}

li:not(:last-child) {
  margin-right: 60px;
}

li:last-child {
  margin-right: 30px;
}

.header-link {
  display: flex;
  flex-direction: column;
  color: #444a5b;
  font-weight: 700;
  text-align: center;
  line-height: 1.6;
  font-family:  '851マカポップ','Bodoni 72','Constantia','Arial Rounded MT Bold','Tahoma',sans-serif;

}

.header-link,
.header-link,:visited,
.header-link,:hover,
.header-link,:active {
  color: inherit;
}

.heading {
  margin-bottom: 5px;
  -webkit-text-stroke: 2px #555;
  text-shadow: 4px 4px 0 #9dd3a8;
  color: rgba(0 0 0 / 0);
  font-size: 45px;
  font-weight: 700;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.link {
  text-decoration: none;
  color: #444a5b;
}

/*TOP*/
.top-main {
  background-color: #fff7f0;
  display: flex;
  align-items: center;


}

.main-visual {
  background-image: url("../images/mainvisual.jpg");
  width: 60%;
  height: 700px;
  background-size: cover;
}

.main-massage {
  width: 40%;
  height: 700px;

}

.main-visual-text {
  font-size: 50px;
	color: #444a5b;
	padding: 0 30px;
	margin: 0 auto;
  // font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','ヒラギノ角ゴシック','Hiragino Sans','Meiryo UI',sans-serif;
  font-family:  '851マカポップ','Helvetica','Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'sans-serif;
}

.emphasis {
  background-image: linear-gradient(rgba(0 0 0 / 0) 70%, #9dd3a8 70%);
}

.button {
  margin: 30px;
}

.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
  font-size: 30px;
  width: 150px;
  text-align: center;
  margin: 0 auto;
}

.btn-border:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}

/*サインアップ画面*/
.main {
  background-image: url("../images/mainvisual.jpg");
  width: 100%;
  height: 700px;
  background-size: cover;

}

.touka{
  background-color: rgba(255, 255, 255, 0.562);
  height: 700px;
}


/*post_imageのindex*/
.index-card {
  padding: 10px;
  /*margin: 10px;*/
  background-color: #fff;
  width: 350px;
  height: 380px;
  border-style: outset;
}


.profile-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.index-position {
  display: flex;
}

.card-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

}

.side-index {
  width: 20%;
}

/*post_imagesのshow*/
.show-card {
  padding: 10px;
  background-color: #fff;
  /*height: 380px;*/
  border-style: outset;
  margin: 0 auto;
  width: 350px;
  color: #444a5b;

}

.center {
  text-align: center;
}

.flame {
  margin: 15px;
}

.flame-sign {
  align-items: center;
}


.submit {
  display: inline-block;
  border-radius: 20%;          /* 角丸       */
  font-size: 11pt;
  font-weight: bold;
  text-align: center;      /* 文字位置   */
  cursor: pointer;     /* カーソル   */
  padding: 10px 10px;   /* 余白       */
  background: rgba(157, 211, 168, 0.90);     /* 背景色     */
  color: #ffffff;
  line-height: 1em;         /* 1行の高さ  */
  transition: .3s;         /* なめらか変化 */
  box-shadow: 6px 6px 3px #666666;  /* 影の設定 */
  border: 2px solid rgba(157, 211, 168, 0.90);    /* 枠の指定 */
  margin: 10px;
  font-family:  '851マカポップ','Bodoni 72','Constantia',sans-serif;
}
.submit:hover {
  box-shadow: none;        /* カーソル時の影消去 */
  color: rgba(157, 211, 168, 0.90);
  background: #ffffff;
}


.withdraw {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 11pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 10px;   /* 余白       */
  background    : rgba(255, 255, 255, 0.90);     /* 背景色     */
  color         : #ceefe4;    /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid rgba(157, 211, 168, 0.90);    /* 枠の指定 */
  margin: 10px;
}
.withdraw:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : rgba(255, 255, 255, 0.90);     /* 背景色     */
  background    : #ceefe4;     /* 文字色     */
}

.user-page {
  display: flex;
}

.sidebar {
  color: #444a5b;
  width: 20%;
  padding: 0 20px;
}

.name {
  font-size: 25px;

}

.user-post {
  width: 70%;
  /*margin: 0 auto;*/
}

dl {
  display: flex;
  justify-content: space-between;
}

dt {
  padding: 10px 10px;
  width: 30%;
  border-bottom: 2px solid #9dd3a8;
}

dd {
  padding: 10px 10px;
  width: 70%;
  border-bottom: 2px solid #ceefe4;
}

/*全削除ボタン*/
.delete-btn {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #ab0f50;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.delete-btn:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.notice {
  border-bottom: dotted 1px #9dd3a8;

}

.comment {
  border-bottom: dotted 1px #9dd3a8;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

.category {
  border-bottom: dotted 1px #9dd3a8;
  text-align: center;
  font-size: 20px;
  padding: 5px;

}

.category:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
  background: #fff;
}

.left {
  text-align: left;
}

.paginate-box {
  display: flex;
}

.paginate {
  margin: 0 auto;
}

.count {
  color: #444a5b;
}

.pagination{
  width: fit-content;
  margin: 25px auto;
  font-size: 0.8rem;
  line-height: 2rem;

}

.first a,
.prev a,
.page a,
.next a,
.last a{
  color: #9dd3a8;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #9dd3a8;
  border-radius: 7px;
}

.first a:hover,
.prev a:hover,
.page a:hover,
.next a:hover,
.last a:hover{
  border: 1px solid #ffffff;;
  background-color: #9dd3a8;
  color: #ffffff;

}

span.current{
  color: #9dd3a8;
}

.like-before {
  color: #ff6c94;
}

.like-after {
  color: #ff006f;
}

.gray {
  color: #444a5b;
}

.search-form{
  margin-top: 15px;
}

.search-box {
  left: 0;
  top: 0;
  outline: 0;
  height: 40px;
  padding: 0 10px;
  border-radius: 7px;
  background: #eee;
}

.search-btn {
  width: 60px;
  height: 38px;
  margin-left: 1px;
  left: 270px;
  top: 0;
  border-radius: 7px;
  background: #9dd3a8;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  font-family:  '851マカポップ','Bodoni 72','Constantia',sans-serif;

}

/*検索ボタンマウスオーバー時*/
.search-btn:hover {
  color: #666;
}

/*aboutページ*/
.about-wrap {
  display: flex;
  align-items: center;
  margin: 50px auto 50px;
  width: 70%;
  font-family:  '851マカポップ','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','ヒラギノ角ゴシック','Hiragino Sans','Meiryo UI',sans-serif;
}

.about-wrap:nth-child(even) {
  flex-direction: row-reverse;
}

.image {
  width: 50%;
}

.about-text {
  padding: 0 30px;
  width: 50%;
  color: #444a5b;
  font-size: 25px;
}

.image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 30px;
}

/*skipper*/
.slide {
  display: flex;
}

#box{
  height: 450px;
  width: 55%;
  margin: 0 auto;
}
.image1 {
  background-image: url('../images/StockSnap4.jpg');
}
.image2 {
  background-image: url('../images/StockSnap2.jpg');
}
.image3 {
  background-image: url('../images/StockSnap3.jpg');
}
.image4 {
  background-image: url('../images/StockSnap5.jpg');
}
.image5 {
  background-image: url('../images/StockSnap1.jpg');
}
.image6 {
  background-image: url('../images/StockSnap6.jpg');
}

.about-msg {
  width: 70%;
  margin: 20px auto;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

// タブ切り替え
.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  background: #fff;
  font-family:  '851マカポップ','Bodoni 72','Constantia',sans-serif;
  font-size: 18px;
  margin-left: 15px;

}
.tab:first-child {
  border-left: none;
}
// タブがactiveのときのデザイン
.tab-active {
  color: #FFF;
  background: #9dd3a8;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
}
// タブの中身、最初は非表示
.tabbox {
  display: none;
  padding: 15px;
}
// box-showクラスのものだけ表示
.box-show {
  display: block;
}
// hover時のアクション
.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}



/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {
  header {
    width: 100%;
  }

  .side-index {
    width: 0%;
  }

  .card-wrap {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .sidebar {
    width: 30%;
  }
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  .wrap {
  　display: block;
  }

  .logo {
  width: auto;
  }

  ul {
    display: block;
  }
  .header-link {
    display: block;
    font-weight: 400;
  }

  li:not(:last-child) {
    margin-right: 0px;
  }

  li:last-child {
    margin-right: 0px;
  }

  header {
    width: 100%;
  }

  .side-index {
    width: 0%;
  }

  .card-wrap {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

 .user-page {
    display: block;
    width: 100%;
  }

  .sidebar {
    margin: 0 auto;
    width: 70%;
    padding: 0 20px;
  }

  .user-post {
    margin: 0 auto;
    width: 95%;
  }

  .category-position {
    margin: 0 auto;
  }

  .slide {
    display: block;
  }
  #box{
    height: 500px;
    width: 100%;
  }

  .about-wrap {
    display: block;
    width: 100%;
  }

  .image {
    width: 100%;
  }

  .about-text {
    margin: 8px;
    width: 100%;
    font-size: 25px;
    text-align: center;
  }

  .about-msg {
    width: 100%;
    margin: 20px auto;
  }

  .top-main {
    display: block;
    align-items: center;
  }

  .main-visual {
    width: 100%;
    height: 300px;
  }

  .main-visual-text {
    font-size: 30px;
    text-align: center;
    margin: 20px;
  }

 .main-massage {
    width: 100%;
  }

  // ハンバーガー
  #hm-icon {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
  }
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .menu-trigger {
    position: relative;
    width: 40px;
    height: 44px;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #444a5b;
    border-radius: 4px;
  }
  .menu-trigger span:nth-child(1) {
    top: 0;
  }
  .menu-trigger span:nth-child(2) {
    top: 20px;
  }
  .menu-trigger span:nth-child(3) {
    bottom: 0;
  }
  .menu-trigger.active span:nth-child(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
    background-color: #444a5b;
  }
  .menu-trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-trigger.active span:nth-child(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
    background-color: #444a5b;
  }
/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */
  #sp-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: #d9d9f3;
    color: #444a5b;
    width: 100%;
    min-height: 100%;
    display: none;
    z-index: 9;
  }
  #sp-menu li {
    text-align: center;
    margin-bottom: 30px;
  }
  #sp-menu a {
    color: #444a5b;
    text-decoration: none;
    font-weight: bold;
  }


}


@media screen and (max-width:425px) {
  .wrap {
  　display: block;
  }

  .logo {
  width: auto;
  }

  ul {
    display: block;
  }
  .header-link {
    display: block;
    font-weight: 400;
  }

  li:not(:last-child) {
    margin-right: 0px;
  }

  li:last-child {
    margin-right: 0px;
  }

  .top-main {
    display: block;
    align-items: center;
  }

  .main-visual {
    width: 100%;
    height: 200px;
  }

  .main-visual-text {
    font-size: 23px;
    text-align: center;
    margin: 20px;
 }

 .main-massage {
    width: 100%;
 }

 .show-card {
    width: 90%;

  }
  .main {
    height: 600px;
  }

  .slide {
    display: block;
  }
  #box{
    height: 180px;
    width: 100%;
  }

  .heading {
    margin-bottom: 3px;
    -webkit-text-stroke: 1.5px #555;
    text-shadow: 2px 2px 0 #9dd3a8;
    font-size: 25px;
    font-weight: 200;
  }

  .about-wrap {
    display: block;
    width: 100%;
  }

  .image {
    width: 100%;
  }

  .about-text {
    margin: 8px;
    width: 100%;
    font-size: 16px;
  }

  .about-msg {
    width: 100%;
    margin: 20px auto;
  }

  .index-position {
  display: block;
  }

  .side-index {
    width: 0%;
  }

  .card-wrap {
    display: block;
  }

  .index-card {
    width: 100%;
    margin: 10px 0;
  }

  .flame {
  margin:10px 0;
  }

  .show-card {
    width: 100%;
  }

  .user-page {
    display: block;
  }

  .sidebar {
    width: 100%;
    padding: 0 20px;
  }

  .user-post {
    width: 100%;
  }

  .category {
    border-bottom: dotted 1px #9dd3a8;
    text-align: center;
    font-size: 15px;
    padding: 5px;

  }

  .category-position {
    margin: 0 auto;
  }
}

