<h2 class="heading">About My Closet</h2>

<div class="slide">
　<div id="box">
  　<div id="images">
    　<div class="image1"></div>
    　<div class="image2"></div>
    　<div class="image3"></div>
   　  <div class="image4"></div>
    　<div class="image5"></div>
      <div class="image6"></div>
    </div>
  </div>
</div>

<div class="about-wrap">
  <div class="image">
    <%= image_tag('about.ootd.jpg') %>
  </div>
  <div class="about-text">
    <p>とっておきの<br>コーディネートをシェア<br>
    ファッションに刺激を<br>
    新たなスタイルの発見を</p>
  </div>
</div>

<div class="about-wrap">
  <div class="image">
    <%= image_tag('about.mycloset.jpg') %>
  </div>
  <div class="about-text">
    <p>ショッピング中<br>
    My Closetがあれば<br>
    どこにいてもいつでも<br>
    クローゼットを
    チェック</p>
  </div>
</div>

<div class="about-msg">
      <p class="main-visual-text center"><span class="emphasis">ファッション好き</span>が集う場所<br>
      <%= image_tag('logo.png') %></p>
      <div class="button">
        <%= link_to new_user_registration_path, class: "link" do %><div class="btn btn-border">Join!</div><% end %><br>
      </div>
</div>