<div class="top-main">
  <div class="main-visual">
  </div>
  <div class="main-message">
    <p class="main-visual-text"><span class="emphasis">ファッション好き</span>が<br>
    集う場所</p>
    <div class="button">
    <%= link_to new_user_registration_path, class: "link" do %><div class="btn btn-border">Join!</div><% end %><br>

    <%= link_to new_user_session_path, class: "link" do %><div class="btn btn-border">LogIn!</div><% end %>
    </div>
  </div>
</div>
