<h2 class="heading">Search Result</h2>
  <div class="index-position">
    <div class="side-index"></div>
      <div class="card-wrap">
        <%= render 'item_images/index', item_images: @item_images %>
      </div>
    <div class="side-index"></div>
  </div>


