<h2 class="heading">Search Result</h2>
    <% if @item_images.exists? %>
      <h2 class="count">Total..<%= @item_images.total_count %></h2>
    <% else %>
      <h2 class="count">アイテムはありません</h2>
    <% end %>
  <div class="index-position">
    <div class="side-index"></div>
      <div class="card-wrap">
        <%= render 'item_images/index', item_images: @item_images %>
      </div>
    <div class="side-index"></div>
  </div>
<div class="paginate-box">
  <div class="paginate">
     <%= paginate @item_images %>
  </div>
</div>


