/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*リセットCSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header {
  background-color: #d9d9f3;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 250px;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #d9d9f3;
  color: #444a5b;
  text-align: center;
}

ul {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  list-style: none;
}

li:not(:last-child) {
  margin-right: 60px;
}

li:last-child {
  margin-right: 30px;
}

.header-link {
  display: flex;
  flex-direction: column;
  color: #444a5b;
  font-weight: 700;
  text-align: center;
  line-height: 1.6;
}

.header-link,
.header-link,:visited,
.header-link,:hover,
.header-link,:active {
  color: inherit;
}

.heading {
  padding: 0 2em 20px;
  font-size: 26px;
  background-image: repeating-linear-gradient(-45deg, #9dd3a8 0px, #e5c046 2px, rgba(0 0 0 / 0) 0%, rgba(0 0 0 / 0) 50%);
  background-size: 8px 8px;
  background-repeat: repeat-x;
  background-position: center bottom;
}

.link {
  text-decoration: none;
}

/*TOP*/
.top-main {
  background-color: #f4f0e6;
  display: flex;
  align-items: center;


}

.main-visual {
  background-image: url(mainvisual.jpg);
  width: 60%;
  height: 700px;
  background-size: cover;
}

.main-massage {
  width: 40%;
  height: 700px;

}

.main-visual-text {
  font-size: 50px;
	color: #444a5b;
	padding: 0 30px;
	margin: 0 auto;

}

.emphasis {
  background-image: linear-gradient(rgba(0 0 0 / 0) 70%, #9dd3a8 70%);
}

.button {
  margin: 30px;
}

.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
  font-size: 30px;
  width: 150px;
  text-align: center;
  margin: 0 auto;
}

.btn-border:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}
