/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*リセットCSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #f4f0e6;
  width: 100%;

}

header {
  background-color: #d9d9f3;
  width: 100%;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 250px;
}

footer {
  width: 100%;
  height: 60px;
  /*background-color: #d9d9f3;*/
  color: #444a5b;
  text-align: center;
}

ul {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  list-style: none;
}

li:not(:last-child) {
  margin-right: 60px;
}

li:last-child {
  margin-right: 30px;
}

.header-link {
  display: flex;
  flex-direction: column;
  color: #444a5b;
  font-weight: 700;
  text-align: center;
  line-height: 1.6;
}

.header-link,
.header-link,:visited,
.header-link,:hover,
.header-link,:active {
  color: inherit;
}

.heading {

  -webkit-text-stroke: 3px #555;
  text-shadow: 4px 4px 0 #9dd3a8;
  color: rgba(0 0 0 / 0);
  font-size: 45px;
  font-weight: 700;
  font-style: italic;
  /*font-family: 'Montserrat', sans-serif;*/
  text-align: center;
}

.link {
  text-decoration: none;
}

/*TOP*/
.top-main {
  background-color: #f4f0e6;
  display: flex;
  align-items: center;


}

.main-visual {
  background-image: url(mainvisual.jpg);
  width: 60%;
  height: 700px;
  background-size: cover;
}

.main-massage {
  width: 40%;
  height: 700px;

}

.main-visual-text {
  font-size: 50px;
	color: #444a5b;
	padding: 0 30px;
	margin: 0 auto;

}

.emphasis {
  background-image: linear-gradient(rgba(0 0 0 / 0) 70%, #9dd3a8 70%);
}

.button {
  margin: 30px;
}

.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
  font-size: 30px;
  width: 150px;
  text-align: center;
  margin: 0 auto;
}

.btn-border:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
}

/*サインアップ画面*/
.main {
  background-image: url(mainvisual.jpg);
  width: 100%;
  height: 700px;
  background-size: cover;
  /*background-color: rgba(255, 255, 255, 0.562);*/

}

.touka{
  background-color: rgba(255, 255, 255, 0.562);
  height: 700px;
}


/*post_imageのindex*/
.index-card {
  padding: 10px;
  /*margin: 10px;*/
  background-color: #fff;
  width: 350px;
  height: 380px;
  border-style: outset;
}


.profile-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.index-position {
  display: flex;
}

.card-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

}

.side-index {
  width: 20%;
}

/*post_imagesのshow*/
.show-card {
  padding: 10px;
  background-color: #fff;
  /*height: 380px;*/
  border-style: outset;
  margin: 0 auto;
  width: 30%;
  color: #444a5b;

}

.center {
  text-align: center;
}

.flame {
  margin: 15px;
}

.flame-sign {
  align-items: center;
}


.submit {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 11pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 10px;   /* 余白       */
  background    : rgba(157, 211, 168, 0.90);     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid rgba(157, 211, 168, 0.90);    /* 枠の指定 */
  margin: 10px;
}
.submit:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : rgba(157, 211, 168, 0.90);     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}


.withdraw {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 11pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 10px;   /* 余白       */
  background    : rgba(255, 255, 255, 0.90);     /* 背景色     */
  color         : #ceefe4;    /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid rgba(157, 211, 168, 0.90);    /* 枠の指定 */
  margin: 10px;
}
.withdraw:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : rgba(255, 255, 255, 0.90);     /* 背景色     */
  background    : #ceefe4;     /* 文字色     */
}

.user-page {
  display: flex;
}

.sidebar {
  color: #444a5b;
  width: 20%;
  padding: 0 20px;
}

.name {
  font-size: 25px;

}

.user-post {
  width: 70%;
  /*margin: 0 auto;*/
}

dl {
  display: flex;
  justify-content: space-between;
}

dt {
  padding: 10px 10px;
  width: 30%;
  border-bottom: 2px solid #5b8f8f;
}

dd {
  padding: 10px 10px;
  width: 70%;
  border-bottom: 2px solid #bbb;
}

/*全削除ボタン*/
.delete-btn {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #ab0f50;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.delete-btn:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.notice {
  border-bottom: dotted 1px #9dd3a8;

}

.comment {
  border-bottom: dotted 1px #9dd3a8;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

.category {
  border-bottom: dotted 1px #9dd3a8;
  text-align: center;
  font-size: 20px;
  padding: 5px;

}

.left {
  text-align: left;
}
