<h2 class="heading">OOTD</h2>
  <div class="index-position">
    <div class="side"></div>
      <div class="card-wrap">
        <%= render 'index', post_images: @post_images %>
      </div>
    <div class="side"></div>
  </div>